<%- include('partials/header') %>


<section class="overflow-x-hidden ">
    

    <!-- slider -->
    <%- include('slider') %>
    
     

    
    <!-- Main -->

    <!-- icons -->
    
      
    <!-- five Rs  Namkeen -->
    <h1 class="text-2xl font-bold text-center my-4">
        Namkeen ₹5
    </h1>
    <%- include('./main/allSwipers/fiveRsNamkeen', { namkeenData }) %>

    
  
    <h1 class="text-2xl font-bold text-center my-4">
        Puffs ₹5
    </h1>
    <%- include('./main/allSwipers/fiveRsNamkeen', { fiveRsPuffsData }) %>
    <%- include('./main/template') %>

    <h1 class="text-2xl font-bold text-center my-4">
        Puffs ₹5
    </h1>
    <%- include('./main/allSwipers/fiveRsNamkeen', { fiveRsPuffsData }) %>

    <h1 class="text-2xl font-bold text-center my-4">
        Puffs ₹5
    </h1>
    <%- include('./main/allSwipers/fiveRsNamkeen', { fiveRsPuffsData }) %>
    <%- include('./main/template') %>

    <h1 class="text-2xl font-bold text-center my-4">
        Puffs ₹5
    </h1>
    <%- include('./main/allSwipers/fiveRsNamkeen', { fiveRsPuffsData }) %>

    <h1 class="text-2xl font-bold text-center my-4">
        Puffs ₹5
    </h1>
    <%- include('./main/allSwipers/fiveRsNamkeen', { fiveRsPuffsData }) %>

    <h1 class="text-2xl font-bold text-center my-4">
        Puffs ₹5
    </h1>
    <%- include('./main/allSwipers/fiveRsNamkeen', { fiveRsPuffsData }) %>
    <%- include('./main/template') %>

  
  
</section>

<%- include('partials/footer') %>
