<%- include('partials/header') %>


<section>
    

    <!-- slider -->
    <%- include('slider') %>
    
     

    
    <!-- Main -->

    <!-- icons -->
    <%- include('./main/icons') %>
      
    <!-- five Rs  Namkeen -->
    <%- include('./main/fiveRsNamkeen') %>
  
</section>

<%- include('partials/footer') %>
