<%- include('partials/header') %>


<section>
    

    <!-- slider -->
    <%- include('slider') %>
    
    <h1><%= title %></h1>

    
    <!-- Main -->

    <!-- icons -->
    <%- include('./main/icons') %>
      
    <!-- fiversCategory -->
      <%- include('./main/fiversCategory') %> 
    
</section>

<%- include('partials/footer') %>
